/*ForGameBoard*/
body{
  background-color: rgb(0, 0, 0);
}
.header{
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
.signOutButton{
  padding: 10px;
  background-color: #255352;
  border: solid 5px #00FFF6;
  border-radius: 100px;
  font-size: 15pt;
  font-weight: bold;
  color: #00FFF6;
  transition: 0.25s;
}
.signOutButton:hover{
  background-color: #00FFF6;
  border: solid 5px #255352;
  color: #255352;
}
  
  
/*--- Footer ---*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px 10px 50px;
}
/*--- Surrender Button ---*/
.surrender{
  color: white;
  text-align: center;
}
.surButton{
  font-size: 1vw;
  font-weight: bolder;
  color: red;
  background-color: black;
  height: 5vw;
  width: 12vw;
  border-radius: 10pt;
  border: solid 2px white;
  box-shadow: 0 0 5px 5px #ff0000 inset;
  transition: 0.25s;
}
.surButton:hover{
  box-shadow: 0 0 50px 100px #ff1717ec inset;
  color: #ffffff;
}
/* Re-Match Button*/
.reMatchButton{
  font-weight: bolder;
  color: #ffffff;
  background-color: black;
  height: 50pt;
  width: 120pt;
  border-radius: 10pt;
  border: solid 2px white;
  box-shadow: 0 0 5px 5px #ffffff inset;
  transition: 0.25s;
}
.reMatchButton:hover{
  box-shadow: 0 0 50px 100px #ffffff inset;
  color: black;
}
/* Setting Button */
.menuButton{
  font-weight: bolder;
  color: white;
  background-color: black;
  height: 75pt;
  width: 75pt;
  border-radius: 50%;
  border: solid 5px white;
  box-shadow: 0 0 5px 5px #00FFF6 inset;
  transition: 0.25s;
}
.menuButton:hover{
  box-shadow: 0 0 100px 100px #00fff79d inset;
  color: #002c2b;
}
  
/*--- HP & Round ---*/
#showhp{
  width: 100%;
}
.roomTextPosition{
  display: flex;
  position: absolute;
  padding: 10pt;
  top: 0;
  left: 0;
}
.roomNumText{
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
#healthzone{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.playerName{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: large;
  font-weight: bolder;
  margin-top: 20pt;
  height: 30pt;
  width: 15%;
  background-color: #00FFF6;
}
#playerHP1, #playerHP2{
  margin: 0px 10px 0px 10px;
}
.hpText1{
  font-size: 1vw;
  transform: skew(-20deg);
  border-radius: 10px;
  box-shadow: 0px 0px 20px 10px white;
}
.hpText2{
  font-size: 1vw;
  transform: skew(20deg);
  border-radius: 10px;
  box-shadow: 0px 0px 20px 10px white;
}
.gameStatus{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: flex-end;
}
.roundText{
  font-size: 2.5vw;
  margin: 0.5vw 0px 0.5vw 0px;
}
.roundNum{
  margin: 0px 10px 0px 10px;
  padding: 0;
  display: flex;
  align-items: flex-end;
  font-size: 2.5vw;
  font-weight: bold;
}
.roundText, .roundNum, .roomText, .roomNumText{
  color: #ffffff;
}
  
/*--- Play Board ---*/
.board {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
  
/*---avatar---*/
.playerShow{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#avatar{
  width: 0vw;
  height: 0vw;
  border-radius: 20%;
  border-left: 6vw solid transparent;
  border-right: 6vw solid transparent;
  border-bottom: 12vw solid rgb(0, 247, 255);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.stat{
  padding: 5pt;
  margin: 10pt 0pt 10pt 0pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-color: #002c2b;
  color: black;
  font-weight: bolder;
  width: 12vw;
  border-radius: 12px;
  background-color: azure;
  box-shadow: 0px 0px 20px 5px #ffffff;
}
.charStat{
  margin: 10px 0 10px 0;
}
h4.charStat{
  font-size: 2vw;
  color: darkblue;
  font-weight: bolder;
}
p.charStat{
  font-size: 1.5vw;
  font-weight: bold;
}
.score{
  border-color: #002c2b;
  color: black;
  font-weight: bolder;
  border-radius: 10px;
  background-color: white;
  height: 30pt;
  width: 80pt;
  margin-top: 100%;
}
#player1score{
  transform: skew(-20deg);
  box-shadow: 10px -5px 10px 0px #00FFF6;
}
#player2score{
  transform: skew(20deg);
  margin-left: 59%;
  box-shadow: -10px -5px 10px 0px #00FFF6;
}
  
  /*--- Board ---*/
.textHead{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.turnText{
  color: white;
  font-size: 2vw;
}
.nextRoundText{
  color: white;
  font-size: 2vw;
  visibility: hidden;
}
.game-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  color: #04c0b2;
  /*height: 70%;*/
}
.cell {
  min-width: 10vw;
  height: 10vw;
  box-shadow: 1pt 2pt 10pt 5pt #45ffff;
  border: 2px solid white;
  cursor: pointer;
  line-height: 100px;
  font-size: 8rem;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.15s;
}
.cell:hover{
  cursor: pointer;
  background-color: #00FFF6;
}

/*--- บอร์ดอันเก่า ---*/
#bort {
  margin-top: 100pt;
  width: 30%;
  height: 70%;
  border-collapse: collapse;
}

.square {
  height: 200px;
  width: 200px;
}

#A .two {
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-bottom: 4px solid #ffffff;
}

#B .one {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  border-right: 4px solid #ffffff;
}

#B .three {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  border-left: 4px solid #ffffff;
}

#C .two {
  border-top: 4px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
  