.BButton{
  font-weight: bolder;
  color: white;
  background-color: black;
  height: 75pt;
  width: 75pt;
  border-radius: 50%;
  border: solid 5px white;
  box-shadow: 0 0 5px 5px #00FFF6 inset;
  transition: 0.25s;
}
.BButton:hover{
  box-shadow: 0 0 100px 100px #00fff79d inset;
  color: #002c2b;
}

.gameModeShow{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px 10px 0px 10px;
  padding: 10px 15px 10px 15px;
  border: 2px solid #00FFF6;
  box-shadow: 0px 10px 8px #255352;
  border-radius: 10px;
}
.gameModeText{
  margin: 0;
  color: white;
  font-size: large;
  font-weight: bold;
}

.charchoose{
  display: flex;
  justify-content: space-around;
  margin-left: 20%;
  margin-right: 20%;
}

.charText{
  font-weight: bold;
  font-size: 40pt;
  color: #00FFF6;
  text-shadow: 2.5px -2.5px rgba(255, 255, 255, 0.63);
}

.char{
  transition: 0.25s;
}

.char:hover{
  transform: scale(1.1);
}